<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="moka.menu.dao.MenuDao">
    <insert id="insert" parameterType="moka.menu.bo.Menu" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO menu (

          createDate, updateDate, state, name, link, icon, parentId, isRoot, type
        ) VALUES ( #{createDate},#{updateDate},#{state},#{name},#{link},#{icon},#{parentId},#{isRoot},#{type});
    </insert>

    <!--查询父级下所有的子集-->
    <select id="findAllMenu" resultMap="menu_map">
        SELECT * FROM menu m WHERE m.id = #{id} AND m.state != 1;
    </select>

    <select id="findOne" parameterType="Integer" resultType="moka.menu.to.MenuTo">
        SELECT * FROM menu WHERE id = #{id};
    </select>

    <update id="update" parameterType="moka.menu.vo.MenuVo">
      UPDATE menu SET menu.updateDate = #{updateDate},menu.name = #{name},menu.link = #{link},menu.icon = #{icon},menu.type = #{type} WHERE menu.id = #{id};
    </update>

    <select id="findNextChild" parameterType="moka.menu.vo.MenuVo" resultType="moka.menu.to.MenuTo">
        SELECT * FROM menu WHERE menu.parentId = #{id};
    </select>

    <delete id="delete" parameterType="Integer">
        DELETE FROM menu WHERE menu.id = #{id};
    </delete>

    <!-- 返回结果集 -->
    <resultMap type="moka.menu.to.MenuTo" id="menu_map">
        <id column="id" property="id"/>
        <collection property="childList" column="id" ofType="moka.menu.to.MenuTo" select="findMenuByParentId"></collection>
    </resultMap>

    <!-- 根据父键查询 -->
    <select id="findMenuByParentId" parameterType="Integer" resultMap="menu_map">
        select * from menu m where m.parentId=#{id} AND m.state != 1;
    </select>

    <!--获取角色拥有的菜单-->
    <select id="findMenuByRoleId" parameterType="Integer" resultType="moka.menu.to.MenuTo">
        SELECT m.*,mr.roleId FROM menu_role mr LEFT JOIN menu m ON m.id= mr.menuId WHERE mr.roleId = #{roleId} ORDER BY m.isRoot DESC
    </select>

    <!--返回用户的菜单-->
    <select id="findMenuByUserId" parameterType="Integer" resultType="moka.menu.to.MenuTo">
        SELECT * FROM (SELECT mr.menuId, ru.roleId, ru.userId, count(distinct mr.menuId) as c from role_user ru LEFT JOIN menu_role mr ON mr.roleId = ru.roleId WHERE ru.userId = #{userId} GROUP BY mr.menuId) as mm LEFT JOIN menu m ON m.id = mm.menuId
    </select>

</mapper>